@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

.appContainer {
  display: flex;
}


@media only screen and (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }
}
